.dashboard {
    min-height: -webkit-fill-available;
    .content {
        @include media-breakpoint-down(md) {
            padding-top: $mobile-header-h;
        }
    }
    .monitor-item {
        position: relative;
        > div {
            position: absolute;
        }

        &::after {
            display: block;
            content: '';
            width: 100%;
            padding-top: 100%;
        }

        &.line-chart {
            min-height: 400px;
        }
        &.line-chart::after {
            padding-top: calc(100% / 3);
        }
    }

    @include media-breakpoint-down(sm) {
        .monitor-item {
            &.one-third,
            &.half {
                &::after {
                    padding-top: 100%;
                }
            }
        }
    }
}
