.dashboard {
    min-height: -webkit-fill-available;
    .overflow-y-scroll {
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .content {
        @include media-breakpoint-down(md) {
            padding-top: $mobile-header-h;
        }
    }
    .sorting-icon {
        cursor: move;
        z-index: 1;
    }
    .btn-gear {
        z-index: 2;
        img {
            width: 40px;
        }
    }
    .btn-close {
        transform: scale(1.2);
    }

    .monitor-item {
        position: relative;
        > div {
            position: absolute;
        }

        &::after {
            display: block;
            content: '';
            width: 100%;
            padding-top: 100%;
        }

        &.line-chart {
            min-height: 400px;
        }
        &.line-chart::after {
            padding-top: calc(100% / 3);
        }
    }

    .flippy-front,
    .flippy-back {
        padding: 0;
        box-shadow: none;
    }

    .card {
        background-color: white;
    }

    .flippy-back {
        visibility: hidden;
    }

    .isActive .flippy-back {
        visibility: visible;
    }

    @include media-breakpoint-down(sm) {
        .monitor-container {
            background-color: $transparent;
            box-shadow: none !important;
        }
        .monitor-item {
            &.one-third,
            &.half {
                &::after {
                    padding-top: 100%;
                }
            }
        }
    }
}
