@import 'overwrite.scss';

.how {
    .arrow {
        transition: transform 0.3s;
        transform: rotate(0deg);
    }
    .up-arrow {
        transform: rotate(-180deg);
    }

    .index-container {
        top: 50px;
    }

    .index {
        > a {
            transition: transform 0.1s;
        }
        > a.active {
            color: $green !important;
            font-weight: bolder;
            transform: scale(1.1) translateX(14px);
        }
    }
}
