.tag {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 62px;
    border-radius: 1.5rem;
    position: relative;
    padding: 0.3125rem 0.75rem;
    line-height: 1;
    white-space: nowrap;

    &:before {
        display: inline-block;
        content: '';
        width: $tag-dot-wh;
        height: $tag-dot-wh;
        margin-right: 0.25rem;
        border-radius: 100%;
    }
}

.dot {
    display: inline-block;
    width: $tag-dot-wh;
    height: $tag-dot-wh;
    margin-right: 0.25rem;
}

@each $color, $value in $tag-colors {
    .tag-#{$color} {
        color: $value;
        background: rgba($value, 0.1);

        &:before {
            background: $value;
        }
    }

    .dot-#{$color} {
        background: $value;
    }
}
