<div class="container pb-5">
    <div class="row ">
        <div class="col-12 col-md-9 px-4">
            <p>
                ItemHub 具有簡單易懂的操作介面，使用者只需要修改少量的程式碼更專注在硬體端設計，快速輕鬆地開發出符合自己需求的 IoT 應用。只要 4 個步驟建立裝置、下載程式碼、修改 wifi
                連線資訊、燒錄就能快速建立一個
                ESP8266 的網頁開關。並可透過 ItemHub 提供的報表可以清楚知道過去的歷史資料。
            </p>

            <img class="w-100 mb-5 overflow-hidden rounded border"
                src="/assets/images/features/dashboard-line-chart.png" />

            <p>
                ItemHub 致力於支援各式的 Arduino 系統，目前支援了 ESP8266, ESP32, Ameba, SAMD21, DSI2598+
            </p>
            <p>
                另外也可以透過熟悉的程式語言，進行更加複雜和高階的功能。而這一切，都可以透過 ItemHub 提供的各種 <a href="https://itemhub.io/swagger/"
                    target="_blank">API</a>
                和資源庫，輕鬆地進行整合和開發。
            </p>
            <img class="w-100 mb-5 overflow-hidden rounded border" src="/assets/images/features/api-doc.png" />
            <p>

                總的來說，ItemHub 是一個 low-code、易用的 IoT 平台，讓使用者可以在不需要太多程式設計知識的情況下，輕鬆建立自己的 IoT 系統。如果你也想打造一個屬於自己的 IoT 應用，那麼
                ItemHub
                絕對是一個不容錯過的好選擇。
            </p>
        </div>
    </div>
</div>
