<div class="container pb-5">
    <div class="row ">
        <div class="col-12 col-md-9 px-4">
            <p>
                ItemHub 使用 MQTT 和 HTTP TLS 加密傳輸訊息，以避免中間者攻擊。想像一下，你使用一個 IoT
                設備，並透過網路來控制它，如果你通訊的過程沒有加密，那麼你的訊息有可能會被竊聽，黑客可以輕易地截取你的訊息並讀取其中的敏感資訊，例如你家裡的門窗是否有打開，這樣的後果可能非常嚴重，家裡有可能被入侵。
            </p>
            <p>
                但 ItemHub 的 MQTT 和 HTTP 所有的訊息都會經過 TLS 加密傳輸，即使被竊聽也無法被解讀。能夠為使用者提供更好的資料安全，降低 IoT
                設備和資料受到竊聽和攻擊的可能性。如果您正在尋找一個安全穩定的 IoT PaaS 產品，ItemHub 將是您的最佳選擇。
            </p>
        </div>
    </div>
</div>
