<div class="container pb-5">
    <div class="row ">
        <div class="col-12 col-md-9 px-4">

            <img class="w-100 mb-5 overflow-hidden rounded border" src="/assets/images/features/pipeline.png" />

            <p>
                ItemHub 獨特的圖像介面自動化功能使得 IoT 裝置之間的連接變得更加簡單和靈活。在過去，為了讓兩個 IoT 裝置能夠相互溝通，必須使用實體線路或是藍牙等傳輸方式，邏輯通常是寫死的，沒有任何彈性。但
                ItemHub 圖像介面自動化功能允許用戶在網頁上直接設定裝置之間的連接，並且可以在任何時候停用或修改條件，這樣用戶就可以更加靈活地控制裝置之間的互動。
            </p>
            <p>
                比如，假設你有一個智能家居系統，其中包含了多個裝置，例如智能燈泡、智能插座、溫度傳感器等等。在傳統的IoT系統中，你可能需要寫很多的程式碼來實現這些裝置之間的連接和互動，這樣就會非常複雜和困難。使用
                ItemHub
                的自動化功能，你只需要在網頁上簡單地設定這些裝置之間的連接和條件，就可以輕鬆地實現智能家居系統的自動化，例如當溫度超過一定範圍時，自動開啟空調等等。
            </p>
            <p>
                這樣用戶可以更加輕鬆地實現智能化的IoT系統，並且隨時可以停用和修改設置，讓用戶擁有更大的自由度和控制權。
            </p>

        </div>
    </div>
</div>
