<div class="how">
    <link href="/css/how.css" rel="stylesheet">
    <div class="container mt-5 mt-lg-6 px-3">
        <div class="row">
            <div class="col-12 col-lg-3 mb-5">
                <div class="index-container sticky-top">
                    <img class="w-100 pe-4 {howImageVisible}" src="/assets/images/how.svg" />
                    <div class="index overflow-hidden d-none d-lg-block">

                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-9">
                <component-how-to-start bind-expanded-how-to-start-visible="expandedHowToStartVisible"
                    bind-expanded-how-to-start-arrow-visible="expandedHowToStartArrowVisible"
                    on-toggled="controller.toggle">
                </component-how-to-start>
                <component-how-to-integrate-google-nest
                    bind-expanded-how-to-integrate-google-nest-visible="expandedHowToIntegrateGoogleNestVisible"
                    bind-expanded-how-to-integrate-google-nest-arrow-visible="expandedHowToIntegrateGoogleNestArrowVisible"
                    on-toggled="controller.toggle">
                </component-how-to-integrate-google-nest>

                <component-how-to-implement-hygrometer
                    bind-expanded-how-to-implement-hygrometer-visible="expandedHowToImplementHygrometerVisible"
                    bind-expanded-how-to-implement-hygrometer-arrow-visible="expandedHowToImplementHygrometerArrowVisible"
                    on-toggled="controller.toggle">
                </component-how-to-implement-hygrometer>

                <component-how-to-implement-autopot
                    bind-expanded-how-to-implement-autopot-visible="expandedHowToImplementAutopotVisible"
                    bind-expanded-how-to-implement-autopot-arrow-visible="expandedHowToImplementAutopotArrowVisible"
                    on-toggled="controller.toggle">
                </component-how-to-implement-autopot>

                <component-how-to-implement-pipeline
                    bind-expanded-how-to-implement-pipeline-visible="expandedHowToImplementPipelineVisible"
                    bind-expanded-how-to-implement-pipeline-arrow-visible="expandedHowToImplementPipelineArrowVisible"
                    on-toggled="controller.toggle">
                </component-how-to-implement-pipeline>

                <component-how-to-implement-smart-ac
                    bind-expanded-how-to-implement-smart-ac-visible="expandedHowToImplementSmartAcVisible"
                    bind-expanded-how-to-implement-smart-ac-arrow-visible="expandedHowToImplementSmartAcArrowVisible"
                    on-toggled="controller.toggle">
                </component-how-to-implement-smart-ac>

                <div class="child-router"></div>
            </div>
        </div>
    </div>
</div>
