<div class="how">
    <link href="/css/how.css" rel="stylesheet">
    <div class="container mt-5 mt-lg-6 px-3">
        <div class="row">
            <div class="col-12 col-lg-4 mb-5">
                <div class="col-4 col-lg-8 pe-4 pe-lg-0">
                    <img class="d-block w-100" src="/assets/images/how.svg" />
                </div>
            </div>
            <div class="col-12 col-lg-8">
                <div class="">
                    <div onclick="controller.toggleHowToStart" class="d-flex justify-content-between mb-2"
                        role="button">
                        <div class="title h3 ">
                            如何開始使用 Itemhub
                        </div>
                        <img class="arrow {expandedHowToStartArrowVisible}" src="/assets/images/icon-down-arrow.svg" />
                    </div>
                    <hr class="border-white opacity-100" />
                    <div class="content {expandedHowToStartVisible}">
                        <div>
                            <div class="text-green h4 mb-3">Step 1 - 新增裝置及要使用的 PIN </div>
                            <div class="mb-45">
                                <div class="fw-bold">1-1 進入裝置列表頁</div>
                                <div>
                                    進入裝置列表頁，點選新增裝置。
                                </div>
                                <img class="w-100 mt-4" src="/assets/images/how/howtouse-1-1.jpeg" />
                            </div>
                            <div class="mb-45">
                                <div class="fw-bold">1-2 新增裝置</div>
                                <div>
                                    輸入裝置名稱、選擇裝置類型，完成新增裝置。
                                </div>
                                <div class="">PS:目前提供 3 種裝置類型，後續會再新增其他裝置類型。</div>
                                <img class="w-100 mt-4" src="/assets/images/how/howtouse-1-2.jpeg" />
                            </div>
                            <div class="mb-45">
                                <div class="fw-bold">1-2 選擇要使用的 PIN</div>
                                <div>
                                    新增裝置後，選擇要使用的 PIN 及 PIN 對應的功能，如: D3 為開關 D7 為感應器。
                                </div>
                                <img class="w-100 mt-4" src="/assets/images/how/howtouse-1-3.jpeg" />
                            </div>
                        </div>
                        <div>
                            <div class="text-green h4 mb-3">Step 2 - 下載程式碼並燒錄至裝置</div>
                            <div class="mb-45">
                                <div class="fw-bold">2-1 下載程式碼</div>
                                <div>
                                    至裝置列表頁或明細頁可下載程式碼，系統會自動生成裝置對應的程式碼。
                                </div>
                                <img class="w-100 mt-4" src="/assets/images/how/howtouse-2-1.jpeg" />
                            </div>
                            <div class="mb-45">
                                <div class="fw-bold">2-2 將程式碼燒錄至裝置</div>
                                <div>
                                    下載程式碼後，開啟副檔名為 .ino 的檔案，其中 {SSID} 請改成你所使用的 wifi 帳號， {WIFI_PASSWORD} 請改成 wifi
                                    密碼，如: wifi 帳密為 home / testing，則: char ssid[] = "home"; char pass[] =
                                    "testing"，修改 wifi 帳密後存檔並將所有檔案燒錄至裝置內。
                                </div>
                                <img class="w-100 mt-4" src="/assets/images/how/howtouse-2-2.jpeg" />
                            </div>
                            <div class="mb-45">
                                <div class="fw-bold">2-3 確認裝置的連線狀態</div>
                                <div>
                                    完成程式碼的燒錄後，在裝置列表或明細頁即可看到裝置的狀態會切換成上線狀態即代表連線成功。
                                </div>
                                <img class="w-100 mt-4" src="/assets/images/how/howtouse-2-3.jpeg" />
                            </div>
                        </div>
                        <div>
                            <div class="text-green h4 mb-3">Step 3 - 查看裝置狀態並設定觸發條件</div>
                            <div class="mb-45">
                                <div class="fw-bold">3-1 - 查看裝置即時狀態</div>
                                <div>
                                    裝置連線成功後，可於裝置列表頁或明細頁即時的切換裝置開關並查看感應器回傳的資料。
                                </div>
                                <img class="w-100 mt-4" src="/assets/images/how/howtouse-3-1.jpeg" />
                            </div>
                            <div class="mb-45">
                                <div class="fw-bold">3-2 - 設定自動化觸發條件</div>
                                <div>
                                    於新增觸發頁填入名稱、觸發的條件與 PIN 操作設定<br />
                                    範例：<br />
                                    設定當濕度大於等於 65 執行開啟抽風扇<br />
                                </div>
                                <img class="w-100 mt-4" src="/assets/images/how/howtouse-3-2.jpeg" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="">
                    <div onclick="controller.toggleHowToBindSmartHome" class="d-flex justify-content-between mb-2 mt-5"
                        role="button">
                        <div class="title h3 ">
                            如何用 Itemhub 串接 Google
                            Smart Home
                        </div>
                        <img class="arrow {expandedHowToBindGoogleSmartHomeArrowVisible}"
                            src="/assets/images/icon-down-arrow.svg" />
                    </div>
                    <hr class="border-white opacity-100 bg-opacity-0" />
                    <div class="content  {expandedHowToBindGoogleSmartHomeVisible}">
                        <div>
                            <div class="text-green h4 mb-3">Step 1 - 建立 oAuthClient</div>
                            <div class="mb-45">
                                <div class="fw-bold">1-1 進入 oAuthClient 列表</div>
                                <img class="w-100 mt-4" src="/assets/images/how/oAuthClient-1-1.jpeg" />
                            </div>
                            <div class="mb-45">
                                <div class="fw-bold">1-2 建立 oAuthClient</div>
                                <div>
                                    新增 oAuthClient 後，因 server 不會儲存 Client Secret 明碼，因此請立即記下 Client Id 與 Client Secret。
                                </div>
                                <img class="w-100 mt-4" src="/assets/images/how/oAuthClient-1-2.jpeg" />
                            </div>
                        </div>
                        <div>
                            <div class="text-green h4 mb-3">Step 2 - Google Actions Console</div>
                            <div class="mb-45">
                                <div class="fw-bold">2-1 至 <a href="https://console.actions.google.com/"
                                        target="_blank">Google Actions Console</a></div>
                                <img class="w-100 mt-4" src="/assets/images/how/oAuthClient-2-1.jpeg" />
                            </div>
                            <div class="mb-45">
                                <div class="fw-bold">2-2 點擊 New project 建立新的專案</div>
                                <div>
                                    <ul>
                                        <li>輸入專案名稱</li>
                                        <li>選擇語言和地區</li>
                                    </ul>
                                </div>
                                <img class="w-100 mt-4" src="/assets/images/how/oAuthClient-2-2.jpeg" />
                            </div>
                            <div class="mb-45">
                                <div class="fw-bold">2-3 建立 Smart Home Project</div>
                                <div>
                                    <ul>
                                        <li>選擇 Smart Home</li>
                                        <li>點擊 Start Build</li>
                                    </ul>
                                </div>
                                <img class="w-100 mt-4" src="/assets/images/how/oAuthClient-2-3.jpeg" />
                            </div>
                            <div class="mb-45">
                                <div class="fw-bold">2-4 選擇 Name your Smart Home action 開始設定</div>
                                <img class="w-100 mt-4" src="/assets/images/how/oAuthClient-2-4.jpeg" />
                            </div>
                            <div class="mb-45">
                                <div class="fw-bold">2-5 Invocation</div>
                                <div>
                                    選擇語言和 Google Smart Home 的顯示名稱，輸入完直接儲存。
                                </div>
                                <img class="w-100 mt-4" src="/assets/images/how/oAuthClient-2-5.jpeg" />
                            </div>
                            <div class="mb-45">
                                <div class="fw-bold">2-6 Actions</div>
                                <div>
                                    Fulfillment URL 填入 https://itemhub.io/api/v1/google-smart-home，讓 Google
                                    Nest 把對應的資料傳至 Itemhub。
                                </div>
                                <img class="w-100 mt-4" src="/assets/images/how/oAuthClient-2-6.jpeg" />
                            </div>
                            <div class="mb-45">
                                <div class="fw-bold">2-7 Account Linking: 輸入 Itemhub 產生的 oAuthClient 資料</div>
                                <div>
                                    <ul>
                                        <li>Client ID 填入於 Itemhub oAuthClient 上產生的 Client ID</li>
                                        <li>Client Secret 填入於 Itemhub oAuthClient 上產生的 Client Secret</li>
                                        <li>Authorization URL 填入 https://itemhub.io/api/v1/oauth</li>
                                        <li>Token URL 填入 https://itemhub.io/api/v1/oauth/token</li>
                                    </ul>
                                </div>
                                <img class="w-100 mt-4" src="/assets/images/how/oAuthClient-2-7.jpeg" />
                            </div>
                            <div class="mb-45">
                                <div class="fw-bold">2-8 於 Project settings 內複製 Project Id 的值</div>
                                <img class="w-100 mt-4" src="/assets/images/how/oAuthClient-2-8.jpeg" />
                            </div>
                        </div>
                        <div>
                            <div class="text-green h4 mb-3">Step 3 - Itemhub 填入 oAuth Redirect URL</div>
                            <div class="mb-45">
                                <div class="fw-bold">3-1 更新 oAuthClient 的 Redirect Uris</div>
                                <div>
                                    於 Redirect Uris 輸入 https://oauth-redirect.googleusercontent.com/r/{projectId}，其中
                                    {projectId} 需取代成
                                    Google Actions Console 內的對應的 Project Id 的值，如: Project Id 為 testing，則輸入:
                                    https://oauth-redirect.googleusercontent.com/r/testing，儲存後即完成串接 Google
                                    Smart Home。
                                </div>
                                <img class="w-100 mt-4" src="/assets/images/how/oAuthClient-3-1.jpeg" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
