<div class="how">
    <link href="/css/how.css" rel="stylesheet">
    <div class="container mt-5 mt-lg-6 px-3">
        <div class="row">
            <div class="col-12 col-lg-3 mb-5">
                <div class="index-container sticky-top">
                    <img class="d-block w-100 pe-4 {howImageVisible}" src="/assets/images/how.svg" />
                    <div class="index">

                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-9">
                <component-how-to-start bind-expanded-how-to-start-visible="expandedHowToStartVisible"
                    bind-expanded-how-to-start-arrow-visible="expandedHowToStartArrowVisible"
                    on-toggled="controller.toggleHowToStart">
                </component-how-to-start>
                <component-how-to-integrate-google-nest
                    bind-expanded-how-to-integrate-google-nest-visible="expandedHowToIntegrateGoogleNestVisible"
                    bind-expanded-how-to-integrate-google-nest-arrow-visible="expandedHowToIntegrateGoogleNestArrowVisible"
                    on-toggled="controller.toggleHowToIntegrateGoogleNest">
                </component-how-to-integrate-google-nest>
                <div class="child-router"></div>
            </div>
        </div>
    </div>
</div>
