<div class="container p-3 mx-auto">
    <h1 class="mt-4 pt-3">輕量化的智慧農業解決方案</h1>
    <h3 class="py-3">使用多種智能裝置，掌握農作物的脈動</h3>
    <div class="pb-4 mb-3">
        透過輕量化的建置方式，大幅降低導入智慧農業的設備成本，減輕農民的負擔並減少生產中的資源浪費，實現永續發展。讓我們一起攜手使作物生生不息
    </div>
    <div>
        <ul class="list-unstyled d-sm-flex flex-wrap row px-3">
            <li
                class="bg-black-opacity-25 col-12 col-lg-6 text-center py-5 px-4 mb-4 rounded border-start border-end border-grey-400">
                <h4 class="text-light-blue">
                    環境監控
                </h4>
                <div>
                    使用多種感測裝置，即時監控環境與土壤的溫度、濕度與光照度，並使用手機隨時操地查看感測器的數值，透過數值來監控作物的生長狀況，並進行相對應的調整
                </div>
            </li>
            <li
                class="bg-black-opacity-25 col-12 col-lg-6 text-center py-5 px-4 mb-4 rounded border-start border-end border-grey-400">
                <h4 class="text-light-blue">
                    裝置控制
                </h4>
                <div>
                    隨時操地操控裝置的開關，如溫室風扇、灑水裝置、植物燈等，即時調節作物生長的環境，使作物保持適宜的狀態
                </div>
            </li>
            <li
                class="bg-black-opacity-25 col-12 col-lg-6 text-center py-5 px-4 mb-4 rounded border-start border-end border-grey-400">
                <h4 class="text-light-blue">
                    自動控制
                </h4>
                <div>
                    依據不同的作物特性，可彈性設定所需的自動化觸發流程，透過系統自動偵測環境中的溫度、濕度和光照度等，自動控制開關風扇、水源、植物燈等，以調節作物所需，並減少人力需求及資源的浪費。
                </div>
            </li>
            <li
                class="bg-black-opacity-25 col-12 col-lg-6 text-center py-5 px-4 mb-4 rounded border-start border-end border-grey-400">
                <h4 class="text-light-blue">
                    預警通知
                </h4>
                <div>
                    可設定各種情境的預警通知，當異常情況發生時，可即時的預警通知，並快速採取對應的措施，減少損失，提高作物的安全性和產量。
                </div>
            </li>
        </ul>
    </div>
    <div>
        <h3 class="text-promoted">聯絡我們</h3>
    </div>
</div>
