.devices {
    $status-dot-size: 6px;
    .tag {
        width: 62px;
    }
    .dot {
        width: $status-dot-size;
        height: $status-dot-size;
    }
    .uploaded-image {
        &::after {
            content: '';
            position: absolute;
            bottom: -7px;
            left: calc(50% - 4px);
            width: 0;
            height: 0;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-top: 8px solid rgba(0, 0, 0, 0.8);
        }
    }
}
