.dot {
    display: inline-block;
    width: $tag-dot-wh;
    height: $tag-dot-wh;
    margin-right: 0.25rem;
}

@each $color, $value in $tag-colors {
    .dot-#{$color} {
        background: $value;
    }
}
