.switch-monitor {
    .toggle-button {
        transform-origin: center;
    }
    .toggle-button-container,
    .title {
        transition: transform 0.8s;
    }
    .device-name {
        display: -webkit-box !important;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}
